In [6]:
import os
from deepsetstats.paths import (
    PATH_TEMPLATE_MATCHING,
)
from os.path import join as j
import pandas as pd
import tqdm
import cv2
os.chdir("/usr/src/app")

In [7]:
from deepsetstats.dataset.court_detection import utils
from importlib import reload
utils = reload(utils)
Utils = utils.Utils

In [8]:
df = pd.read_parquet(PATH_TEMPLATE_MATCHING, engine="pyarrow")

In [14]:
df.to_parquet(PATH_TEMPLATE_MATCHING_SINGLE_PQ, engine="pyarrow")

In [13]:
PATH_TEMPLATE_MATCHING_SINGLE_PQ

'deepsetstats/dataset/frames/parquet/template_matching.parquet'

In [5]:
df.groupby("tournament_id")["interval_id"].count().reset_index()

    tournament_id  interval_id
0               0         1308
1               1          304
2               2         1623
3               3          134
4               4          118
..            ...          ...
59             60           24
60             61           27
61             62           32
62             63           28
63             64           18

[64 rows x 2 columns]